

.navbar
{
	height: 50px;
	background-color: #808080;
	background: rgba(0,0,2,0.9);
}
.jumboltron
{
	background-image: url('http://localhost/mywebsite/theme/image/homeimage.jpg');
	background-size: cover;
	height: 800px;
}

/*nav div#navbarNav ul li a.nav-link {
	color:white;

}*/

.btn-outline-light:hover 
{
    color: #fff;
    background-color: #282828;
    border-color: #f8f9fa;
    border-radius: 0;
}

.thumbnail_button div.row button
{
	border-radius: 0px;
	width: 100%;
	border:0px;
	height:50px;
	font-weight: bold;
	color: #666666;
	outline: none;

}
.thumbnail_button div.row button:hover
{
	background:#606060;
	color: #000000;

}

.img-thumbnail
{ 
	border-radius:0px;
}

.info
{
	background-color: #BEBEBE;
	height:300px;
}

.textarea
{
	height: 70px;
	
}

#message_box
{
	resize: none;
}

/*contact_divider*/
.contact_divider
{
	border-left: 1px solid #DCDCDC;
}

footer
{
	background-color: #808080;
	height: 100px;
}

.copyright
{
	padding-top: 35px;
	color: #C0C0C0;
}


.mainpage_padding_top
{
	padding-top:60px;  /*padding for pages*/
}

/*STORE PAGE CSS*/

.main_store
{
	height: 100%;
	background-color: white;
	padding-top:33px;
}

.main_store .img-thumbnail
{
	border-radius: 0px;
}

.sale_description
{
	padding:10px;
	background-color: white;
	float:bottom;
	height: 150px;
}
	
nav.store_navbar
{
	width: 100%;
	height: 40px;
	background-color:  #666666;
}
div.main_store nav.store_navbar ul li
{
	list-style: none;
	display:block;
	float:left;
	padding:10px 0px 10px 0px;
	font-size: 85%;
}
div.main_store nav.store_navbar ul li a
{
	text-decoration: none;
	padding:15px 25px 15px 20px;
	color:#cccccc;

}
div.main_store nav.store_navbar ul li a:hover
{
	text-decoration: none;
	background-color:white; 
	color:#333333;
}

/*store search box*/
/*
div.main_searchbox .input-group{
	height:35px;
	width: 300px;
}
div.main_searchbox .input-group input{
	padding:5px;
	border-radius: 3px;

}
div.main_searchbox .input-group span button{
	font-size: 12px;
	border-radius: 3px;
	height:35px;
	border: 0px;

}*/

/*modal sign up button*/
div.sign-up
{
	
}


/*REGISTER PAGE*/

.register_page
{
	background-color: #f2f2f2;
	width: 100%;
	height: 100%;

}

.register_form_style
{	
	box-shadow:0px 1px 6px 2px rgba(0, 0, 0, 0.1);
	background-color: white;
	border-radius: 2px;
	border-left: .1px solid #e6e6e6;
	border-right: .1px solid #e6e6e6;

	
}

/*Connect to Fb and Google Style*/
.connect-facebook
{
	color:white;
	padding: 10px;
	background: #3b5998;
}
.connect-google 
{	
	color:white;
	padding: 10px;
	background: #E24825;
}

.social-box
{
	border-radius: 2px;
	margin-bottom: 10px;
}

/*sign in with Fb and Google Style*/
.signin-connect-facebook
{
	border-radius: 2px;
	color:white;
	padding: 10px;
	background: #3b5998;
}
.signin-connect-google
{
	border-radius: 2px;
	color:white;
	padding: 10px;
	background: #E24825;
}